
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}
.top{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
.tanatos{
    font-size: 20px;
}
.menu span{
    display: inline-block;
    vertical-align: 0px;
    margin: 0 10px 0 0;
    color: white;
    padding: 0 15px 10px 0;
    font-size: 20px;
}
.topbar{
    background: url(../images/background.png) no-repeat center;
    background-size: cover;
    min-height: 500px;
    position: relative;
}
.ts{
    color: white;
}
.st{
    color: orangered;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.mcontent{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.middle .ts, .middle .st{
    font-size: 40px;
    font-weight: bold;
}
.lore{
    color: white;
    text-align: center;
}
.buttons , .wdt{
    margin: 30px 0;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.buttons .b1, .buttons .b2{
    width: 100%;
    height: 50px;
    font-size: 100%;
    vertical-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    margin: 10px;
    transition: background-color 0.4s ease;
    cursor: pointer;
}
.buttons .b1:hover, .buttons .b2:hover{
    background-color: orangered;
}
.disc>.container {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.disc{
    display: flex;
    max-height: 100%;
    margin: 100px 0;
}
.block{
    background-color: white;
    text-align: center;
    padding: 0 25px;
}

.block p{
    text-align: center;
    color: black;
    margin: 25px 0;
}
.block img{
    display: inline-block;
    max-width: 100%;
}
.middle_bar{
    background: url(../images/secon_background.png) no-repeat center;
    background-size: cover;
    position: relative;
}
.search {
    text-align: center;
    line-height: 20px;
    padding: 50px 0;
}
.search input{
    line-height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 10px;
}
.search input:first-child{
    margin-right: 10px;
}
.search input:last-child{
    background-color: orangered;
    color: white;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
.search input:last-child:hover{
    background-color: black;
}
.invitation{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.invitation .text{
    display: flex;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.invitation h2{
    font-size: 40px;
    margin: 15px 0;
}
.invitation h2>span{
    color: orangered;
}
.f_row , .s_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*
.f_row img, .s_row img{
    display: inline-block;
    max-width: 100%;
    margin: 10px;
}
*/
.show_items{
    display: flex;
	width: 33.33%;
	min-height: 300px;
    position: relative;
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border-radius: 5px;
    cursor: default;
}

.show_items:hover:before, .show_items:hover .inside{
	opacity: 1;
}
.show_items::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: rgba(255, 69, 0, 0.7);
    border-radius: inherit;
	opacity: 0;
	transition: opacity .5s ease-in;	
	/*right: 0;
	bottom: 0;*/
}

.show_items .inside {
    position: absolute;
    top: 0;
	left: 0;
    z-index: 2;
    opacity: 0;
	transition: opacity .5s ease-in;
}
.inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.inside h3, .inside span{
    text-align: center;
    color: white;
    padding: 10px 0;
}
.inside span{
    width: 70%;
}
.inside button{
    border: none;
    border-radius: 10px;
    background-color: white;
    line-height: 50px;
    width: 70%;
    color: orangered;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}
.show{
    text-align: center;
    margin: 60px 0;
    font-size: 20px;
    color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    
}
.footer span, p{
    color: white;
    margin: 20px 0;
    
}
#sp1{
    font-weight: bolder;
}
#sp2{
    color: rgb(252, 45, 45);
    font-size: 20px;
}
.end {
    background-color: gray;
}

/*.inside{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background-color: orangered;
    display:none;
}
.pics:hover .inside{
    display: block;
}
/*.buttons a{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}
/*
.topbar{
    background-color: black;
    border-bottom: 1px solid white;
}
.secondbar{
    background-color: green;
    border-bottom: 1px solid white;
}
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
.container i{
    color: white;
}
.phone{
    float: left;
}
.phone a{
    color: #E3E3E3;
}
.search{
    float: right;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: black;
    padding: 3px;
    margin-top: 10px;
    
}
.search input{
    background-color: inherit;
    border: none;
    color: white;
    outline: none;
    margin-right: 15px;
}
.number{
    margin: 15px;
    margin-left: 5px;
    display: inline-block;
}
.button{
    background-color: transparent;
    background: none;
    color: azure;
    border: none;
    outline: none;
    margin: -15px;
}
.secondbar>.container {
	display: flex;
	/*flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
#logo{
    display: block;
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 0;
}
.navigation{
    list-style: none;
    font-size: 0;
    border-left: 1px solid white;
}
.navigation ul li{
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid white;
    font-size: 14px;
}
.navigation ul li a{
    display: inline-block;
    padding: 15px;

}
.navigation ul li:last-child{
    border-right-style: solid;
}
.navigation ul li:hover{
    background-color: black;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.welcome{
    background: url(../images/bg-visual01.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
    position: relative;
}
.hi{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hi h1{
    font-size: 250%;
    color: white;
    text-shadow: 2px 2px 3px black;
    text-transform: uppercase;
}
.hi button{
    margin: 50px;
    font-size: 100%;
    border: none;
    outline: none;
    background-color: green;
    border-radius: 10px;
    padding: 15px 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
    transition: background-color 0.4s ease;
}
.welcome button:hover{
    background-color: black;

}

.sector2{
    padding: 40px;
    min-height: 500px;
}
.sector2 h2{
    text-align: center;
}
.pic{
    float: left;
    max-width: 550px;
    max-height: 500px;
    margin-top: 40px; 
}
.pictext{
    float: right;
    margin-top: 90px;
    line-height: 2;
    max-width: 550px;
    
}
.pictext li{
    list-style-type: none;
}
.pictext p{
    font-size: 200%;
}
.pictext img{
    max-height: 8px;
    max-width: 8px;
    transform: rotate(45deg);
    padding-right: 10px;
    
}
.main{
    background-color: #E3E3E3;
}
.team{
    text-align: center;
    margin: 20px 0;
}
.disc>.container {
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.disc{
    display: flex;
    max-height: 100%;
    
}
.block{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px black;
}
.block:not(:first-child){
    margin-left: 20px;
}
.block p{
    margin: 0 5px;
    color: black;
}
.block p:not(:last-child){
    margin-bottom: 10px;
    color: black;
}
.block img{
    display: inline-block;
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px 5px 0 0;
}
.block i{
    position: absolute;
    margin: 5px 5px;
}
.photos{
    text-align: center;
    margin: 20px 0;
}
.row{
    display: flex;
}
.row .col{
    width: 50%;
    padding: 0 15px;
}
.col img{
    display: inline-block;
    max-width: 100%;
    max-height: 500px;
}