@media screen and (max-width: 767px) {
    .topbar{
        width: 100%;
    }
    .disc{
        display: flex;
        flex-direction: column;
    }
    .wdt{
        text-align: center;
    }
    .search input{
        line-height: 30px;
        margin-bottom: 10px;
        padding: 0 0 0 5px;
    }
    .search input:first-child{
        margin-right: 0;
    }
    .f_row , .s_row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .show_items{
        width: 100%;
        margin: 0 0 10px 0;;
    }
    .footer{
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
}
@media screen and (max-width: 1023px) {
    .footer{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }